<div class="container">

  <div class="row justify-content-center">
    <div class="col s12 m4" *ngFor="let o of list; let i = index">
      <mat-card class="example-card" style="min-width: 300px;margin-bottom: 5%;">
        <mat-card-header style="margin-bottom: 5%;">
          <!-- <div mat-card-avatar class="example-header-image">
          <app-img-display [img]="o.idUser.imgUrl" width="50px" height="50px" radius="50%" style="float: left;"
          widthProgressBar="30px" heightProgressBar="5px"></app-img-display>
        </div> -->
          <!-- <mat-card-title style="margin-bottom: 0%;">{{o.idUser.nom}}</mat-card-title>
        <mat-card-subtitle>{{o.idUser.prenom}}</mat-card-subtitle> -->
        </mat-card-header>
        <a [routerLink]="['/recette/detail-recette',o._id]">
          <app-img-display [img]="o.imgUrl" border="1px ridge rgb(223, 223, 223)"></app-img-display>
        </a>
        <mat-card-content style="margin: 10px 5px;">
          <h4>{{o.nom}}</h4>
          <!-- <p>{{o.discription}}</p> -->
        </mat-card-content>
        <mat-card-actions>
          <div class="row justify-content-center">
            <app-note-recette [idRecette]="o._id"></app-note-recette>
            <app-count-comment [idRecette]="o._id"></app-count-comment>
            <app-add [recette]="o"></app-add>
            <div *ngIf="isAutoriseToUpdate(o.idUser._id)">
              <button mat-button type="button" [routerLink]="['/recette/edit-recette',o._id]">
                <mat-icon>create</mat-icon>
              </button>
              <button mat-button (click)="openDialog(o._id)">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <mat-paginator class="mt-2" color="primary" [length]="resultsLength" [pageSizeOptions]="[6, 12]" showFirstLastButtons></mat-paginator>

</div>