<div class="item" [ngStyle]="{'border-radius': radius, 'border': border}">
  <!-- <div class="example-loading-shade" *ngIf="isImageLoading"></div> -->
  <img (error)="imgError(im)" #im class="image-responsive" 
  [ngStyle]="{'width': width, 'height': height, 'border-radius': radius, 'padding-right': paddingRight}">
</div>

<!-- <div class="item" [ngStyle]="{'border-radius': radius, 'border': border}">
  <ng-container *ngIf="!isImageLoading; else elseTemplate">
  <img (error)="imgError(im)" #im class="image-responsive" [ngStyle]="{'width': width, 'height': height, 'border-radius': radius, 'padding-right': paddingRight}">
  </ng-container>
  <ng-template #elseTemplate>
    <img src="../../../assets/loading.gif" alt="Fallbackimage" class="image-responsive" 
    [ngStyle]="{'width': width, 'height': height, 'border-radius': radius}">
  </ng-template>
</div> -->