.list
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.list__item
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

    /* .list
{
    overflow: hidden;
}
    .list__item
    {
        width: 25%;
        float: right;
    } */
