@use '@angular/material' as mat;
@include mat.core();

$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$pink-palette),
   accent: mat.define-palette(mat.$blue-grey-palette),
 ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Define a light theme
$light-theme: mat.define-light-theme((
 color: (
   primary: mat.define-palette(mat.$indigo-palette),
   accent: mat.define-palette(mat.$pink-palette),
 ),
));

// $light-theme: mat.define-light-theme((
//   color: (
//     primary: mat.define-palette(mat.$mat-blue, 700),
//     accent: mat.define-palette(mat.$mat-yellow, 600),
//     warn: mat.define-palette(mat.$mat-red, 700),
//   ),
//   density: 0,
// ));

// //
// $dark-theme: mat.define-dark-theme((
//   color: (
//     primary: mat.define-palette(mat.$mat-purple, 700, 800, 900),
//     accent: mat.define-palette(mat.$mat-light-green, 700),
//     warn: mat.define-palette(mat.$mat-red, 700),
//   ),
//   density: 0,
// ));
.default-theme {
  @include mat.all-component-themes($light-theme);
  // @include mat.core-theme($light-theme);
  // @include mat.button-theme($light-theme);
}

.dark-theme {
  // @include mat.core-theme($dark-theme);
  // @include mat.button-theme($dark-theme);
  @include mat.all-component-colors($dark-theme);
}

