// $anms-black-primary: mat-palette($mat-grey, 700, 300, 900);
// $anms-black-accent: mat-palette($mat-blue-grey, 400);
// $anms-black-warn: mat-palette($mat-red, 500);

// $anms-black-theme: mat-dark-theme(
//   $anms-black-primary,
//   $anms-black-accent,
//   $anms-black-warn
// );

// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$my-theme-primary: mat-palette($mat-yellow, 600, A700, 900);
$my-theme-accent: mat-palette($mat-light-green, 600);
$my-theme-warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme-dark: mat-dark-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

$my-theme-light: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);


$candy-app-primary: mat-palette($mat-blue, 700);
$candy-app-accent:  mat-palette($mat-yellow, 600);
$candy-app-warn:    mat-palette($mat-red, 700);
// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($candy-app-theme);
$alt-primary: mat-palette($mat-purple, 700, 800, 900);
$alt-accent:  mat-palette($mat-light-green, 700);
$alt-warn: mat-palette($mat-red, 700);

$alt-theme: mat-dark-theme($alt-primary, $alt-accent, $alt-warn);
