mat-toolbar-row{
    height: 40px;
}

mat-toolbar{
  min-height: 40px;
  border-radius: 3px;
  margin-bottom: 2px;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 
    0 2px 30px -1px rgba(0,0,0,.2), 
    0 1px 1px 0 rgba(0,0,0,.14), 
    0 1px 3px 0 rgba(0,0,0,.12);
}