<mat-card class="container mt-1 mb-2">

  <mat-card-content>
    <mat-toolbar mat-card-image color="primary">
      <mat-toolbar-row>
        <span>Les technos utilisée</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="mtb-2 text-center" style="margin-bottom: 15%; margin-top: 10%;">
        <h2>Angular 7.</h2>
        <h2>Angular Univerasal.</h2>
        <h2>Angular lazy loading.</h2>
        <h2>Angular Material.</h2>
        <h2>Api restful avec Node et Express js</h2>
        <h2>socket io.</h2>
        <h2>MongoDB.</h2>
        <br>
        <h2>Source code : <a href="https://github.com/djm2x/recipe">GITHUB</a></h2>
    </div>
  </mat-card-content>

</mat-card>