<!-- <div class=" m-2">
  <mat-card *ngIf="o">
    <a [routerLink]="['/recette/detail-recette',o._id]">
      <img mat-card-image (error)="imgError(img)" #img [src]="API_URL + o.imgUrl" style="height: 400px;" class="image-responsive" alt="Card image cap">
    </a>
    <mat-card-content>
      <h4>Nom de recette : {{o.nom}}</h4>
    </mat-card-content>
  </mat-card>
</div> -->
<div class="img1" [ngStyle]="{'background-image': 'url(' + img + ')'}">
  <div class="h1">
    <h1 style="font-size: 60px;">Recette de cuisine</h1>
    <mat-icon style="font-size: 40px;">keyboard_arrow_down</mat-icon>
  </div>
</div>
<div class="container mt-2">
  <app-list-recette-shared></app-list-recette-shared>
</div>
